[Unit]
Description=$SERVICENAME
Requires=docker.service
After=docker.service

[Service]
Restart=always
User=pi
Group=docker
WorkingDirectory=/home/pi/garage_door_clicker

# Shutdown container (if running) when unit is started
ExecStartPre=$(which docker-compose) -f docker-compose.yml down

# Start container when unit is started
ExecStart=$(which docker-compose) -f docker-compose.yml up -d

# Stop container when unit is stopped
ExecStop=$(which docker-compose) -f docker-compose.yml down

[Install]
WantedBy=multi-user.target