[Unit]
Description=Garage Door Opener
After=network.target

[Service]
type=simple
User=pi
WorkingDirectory=/home/pi/garage_door_clicker/
ExecStart=/usr/bin/python3 main.py
Restart=always

[Install]
WantedBy=multi-user.target